node_modules/
data/
_01/
posts/*
!posts/.gitkeep
!posts/2025/
posts/2025/*
!posts/2025/11/
posts/2025/11/*
!posts/2025/11/01/
posts/2025/11/01/*
!posts/2025/11/01/0.html
!posts/2025/11/02/
posts/2025/11/02/*
!posts/2025/11/02/0.url
!posts/2025/11/06/
posts/2025/11/06/*
!posts/2025/11/06/1.html
public/config/*
!public/config/.gitkeep
public/data/*
!public/data/.gitkeep
!public/data/example/
!public/data/example/**
server/custom/
.env
*.log
.DS_Store
.file-social-version
deploy/config.sh

